@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

%buttons {
  cursor: pointer;
  background-color: rgb(56, 56, 56);
}

.slide {
  background-size: cover;
}

.bullet {
  width: 15px;
  height: 15px;
}

.bullets {
  bottom: 5%;
  z-index: 1;
  cursor: pointer;
}

.arrows {
  top: 50%;
  width: 40px;
  height: 40px;
}

.arrow-left {
  left: 3%;
  @extend %buttons;
}

.arrow-left:hover, .arrow-right:hover, .bullet:hover {
  background-color: black;
}


.arrow-right {
  right: 3%;
  @extend %buttons;
}

.sliders-container {
  border: 10px solid black;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {
  .sliders-container {
    border: 80px solid black;
  }
}

.bg-dark-bullet {
  background-color: rgb(87, 87, 87);
}

.border-light-bullet {
  border: 1px solid lightgray;
}

.bg-light-bullet {
  background-color: rgb(200, 200, 200);
}

.border-dark-bullet {
  border: 1px solid rgb(87, 87, 87);
}

.subel {
  width: 100px!important;
  height: 100px;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.scrollable-li {
  overflow-x: scroll;
  overflow-y: hidden;
}

@media (max-width: 800px) {
  .scrollable-li::-webkit-scrollbar {
    display: none;
  }
}

.category {
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  font-weight: bold;
  padding: 0 5px;
}

@media (min-width: 800px) {
  .left-icons {
    width: 50px!important;
    height: 50px;
  }

  .category {
    padding: 0 50px;
  }
}

.left-icons:hover, .subel:hover {
  color: black;
}

.drop-down {
  height: 88vh;
  border-bottom-right-radius: 100%;
  overflow: hidden;
  font: 1.2em 'Roboto', sans-serif;
}

.item-drop-down:hover {
  background-color: rgb(16, 110, 122)!important;
  cursor: pointer;
}