.slide {
  background-size: cover;
}

.bullet {
  width: 15px;
  height: 15px;
}

.bullets {
  bottom: 5%;
  z-index: 1;
  cursor: pointer;
}

.arrows {
  top: 50%;
  width: 40px;
  height: 40px;
}

.arrow-left {
  left: 3%;
  cursor: pointer;
  background-color: rgb(56, 56, 56);
}

.arrow-left:hover, .arrow-right:hover, .bullet:hover {
  background-color: black;
}


.arrow-right {
  right: 3%;
  cursor: pointer;
  background-color: rgb(56, 56, 56);
}

.sliders-container {
  border: 10px solid black;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {
  .sliders-container {
    border: 80px solid black;
  }
}

.bg-dark-bullet {
  background-color: rgb(87, 87, 87);
}

.border-light-bullet {
  border: 1px solid lightgray;
}

.bg-light-bullet {
  background-color: rgb(200, 200, 200);
}

.border-dark-bullet {
  border: 1px solid rgb(87, 87, 87);
}

