.slide {
  background-size: cover;
}

.bullet {
  width: 15px;
  height: 15px;
}

.bullets {
  bottom: 5%;
  z-index: 1;
}

.arrows {
  top: -50%;
  width: 40px;
  height: 40px;
}

.arrow-left {
  left: 5%;
}

.arrow-right {
  right: 5%;
}